extends layout/layout.pug

block title
    | About

block content

    // Section
    section(class="main-header")
        header
            div(class="container text-center")
                h1(class="h2 title") About Us
                ol(class="breadcrumb breadcrumb-inverted")
                    li
                        a(href="/")
                            span(class="icon icon-home")
                    li
                        a(class="active" href="/about") About

    section
        div(class="about")

            div(class="image")
                img(src="assets/images/map-lg.jpg" alt="Alternate Text")
            

            div(class="container")

                // Grid 

                div(class="row")
                    div(class="col-md-6")
                        h4 Founding store
                        p
                            | We are constantly looking for talent with technical skills, a problem-solving approach and with a natural ability to take responsibility and act.</p>
                    
                    div(class="col-md-6")
                        h4 About Lager Store
                        p 
                            | Ela created Lager in 1999 to be your friendly neighborhood store for the very best beauty &amp; honest, expert advice.</p>

                    
                

                hr

                // Text 

                div(class="text")
                    h4 Our success
                    p
                        | We may add additional Sites from time to time as we expand our beauty offerings and these Terms of Use will govern those new Sites when added. You may be accessing our Sites from a computer or mobile phone device (through a smartphone application, for example) and these Terms of Use govern your use of our Sites and your conduct, regardless of the means of access. You may be using our interactive services ("Interactive Services"), such as our Product Ratings &amp; Reviews and Beauty Junkie Profile functionality, and these Terms of Use govern your use of those Interactive Services

                    h4 What we beleive in
                    p
                        | We are aware of our social responsibilities and especially the responsibilities to our own stakeholders.
                        | These include employees, customers, suppliers and other relevant interested parties. We are also aware that we must ensure that our impact on the environment is minimal.

                

                hr

                // Numbers 

                div(class="numbers")
                    div(class="row")

                        div(class="col-md-3")
                            div(class="item")
                                div(class="number") 45
                                div(class="title") Years
                                div(class="text") We act skilfully
                            
                        
                        div(class="col-md-3")
                            div(class="item")
                                div(class="number") 12
                                div(class="title") Countries
                                div(class="text") We respond quickly 
                            
                        
                        div(class="col-md-3")
                            div(class="item")
                                div(class="number") 120
                                div(class="title") Projects
                                div(class="text") We focus on market
                            
                        
                        div(class="col-md-3")
                            div(class="item")
                                div(class="number") 9
                                div(class="title") Factories
                                div(class="text") We work with our customers