each val in data
    h6(class="trailer-title" style="display:inline-block;font-size:17px;")=val.name
    div(class="videoWrapper mt-2")
        iframe(style="width:100%;" src="//www.youtube.com/embed"+'/'+val.key allowfullscreen frameBorder="0")